<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- uc强制横屏 -->
    <meta name="screen-orientation" content="landscape">
    <!-- QQ强制横屏 -->
    <meta name="x5-orientation" content="landscape">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">

    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>线</title>
    <style>

    </style>
  <link rel="shortcut icon" href="./huohua.ico"><link href="css/components.css?st=91dadf7d15fb4dba02986e68daeddcde" rel="stylesheet"><link href="css/xdcm.css?st=044c9a8a9ee6808977dee9194700b38f" rel="stylesheet"></head>
  <body style="padding: 0;margin: 0;">
      <div id="app"></div>
    <!-- built files will be auto injected -->
      <div id="loading" style="position: absolute;z-index: 999;width: 100%;height: 100%;background: #FFFFFF;margin: 0;padding: 0;"></div>

  <script type="text/javascript" src="js/manifest.js?a=979bdf88e3757e26035b"></script><script type="text/javascript" src="js/config.js?a=9fb4f9aae17c69040006"></script><script type="text/javascript" src="js/util.js?a=4d0a8eb776eb54619d4b"></script><script type="text/javascript" src="js/model.js?a=239633a4a0a84b558fd4"></script><script type="text/javascript" src="js/components.js?a=54f063af3bba55fc0397"></script><script type="text/javascript" src="js/xdcm.js?a=7d6059493e68783c1c9e"></script></body>

</html>
<script type="text/javascript">
    ;
    (function() {

        handleAddListener('load', getTiming)

        function handleAddListener(type, fn) {
            if(window.addEventListener) {
                window.addEventListener(type, fn)
            } else {
                window.attachEvent('on' + type, fn)
            }
        }

        function getTiming() {
            try {
                var time = performance.timing;
                var timingObj = {};

                var loadTime = (time.loadEventEnd - time.loadEventStart) / 1000;

                if(loadTime < 0) {
                    setTimeout(function() {
                        getTiming();
                    }, 200);
                    return;
                }

                timingObj['重定向时间'] = (time.redirectEnd - time.redirectStart) / 1000;
                timingObj['DNS解析时间'] = (time.domainLookupEnd - time.domainLookupStart) / 1000;
                timingObj['TCP完成握手时间'] = (time.connectEnd - time.connectStart) / 1000;
                timingObj['HTTP请求响应完成时间'] = (time.responseEnd - time.requestStart) / 1000;
                timingObj['DOM开始加载前所花费时间'] = (time.responseEnd - time.navigationStart) / 1000;
                timingObj['DOM加载完成时间'] = (time.domComplete - time.domLoading) / 1000;
                timingObj['DOM结构解析完成时间'] = (time.domInteractive - time.domLoading) / 1000;
                timingObj['脚本加载时间'] = (time.domContentLoadedEventEnd - time.domContentLoadedEventStart) / 1000;
                timingObj['onload事件时间'] = (time.loadEventEnd - time.loadEventStart) / 1000;
                timingObj['页面完全加载时间'] = (timingObj['重定向时间'] + timingObj['DNS解析时间'] + timingObj['TCP完成握手时间'] + timingObj['HTTP请求响应完成时间'] + timingObj['DOM结构解析完成时间'] + timingObj['DOM加载完成时间']);

                for(item in timingObj) {
                    console.log(item + ":" + timingObj[item] + '毫秒(ms)');
                }

                console.log(performance.timing);

            } catch(e) {
                console.log(timingObj)
                console.log(performance.timing);
            }
        }
    })();
</script>
